.Image-Dots {
    max-height: 250px;
    max-width: 250px;
    height: auto;
}

.card-body-image {
    padding: 0px;
}

.card-text {
    text-align: left;
}

@media (min-width: 767px) {
    .Image-Dots {
        min-height: 250px;
    }
}